<component name="ArtifactManager">
  <artifact type="exploded-ear" name="spring-boot:ear exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_boot_ear_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-boot/javaeeApplication/javaEEApplication" />
      <element id="directory" name="web.war">
        <element id="artifact" artifact-name="spring-boot:war exploded" />
      </element>
    </root>
  </artifact>
</component>